/*
* demo.css
* File include item demo only specific css only
******************************************************************************/
:root {
  --primary: #07395c;
  --text-color: #000;
  --secondary: #1448ad;
  --copy-color: #2a2e3f;
  --light_green: #ebf9ff;
  --light_purple: #9ca6ec;
  --title-bg:  #f0f1f7;
}

.menu .app-brand.demo {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

/* ! For .layout-navbar-fixed added fix padding top to .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}

/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

.docs-page .layout-navbar-fixed.layout-wrapper:not(.layout-without-menu) .layout-page,
.docs-page .layout-menu-fixed.layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 62px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks>* {
  display: block !important;
}

.demo-inline-spacing>* {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing>* {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg>* {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-lg.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl>* {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-xl.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir="rtl"] .rtl-only {
  display: block !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 231px;
    position: relative;
  }

  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}

.layout-demo-placeholder img {
  width: 900px;
}

.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

/*---- New Css ---*/
/* --- Typography ---*/


body {
  background-color: #fff;
  color: #000;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
}

.main-wrapper {
  min-height: 100vh;
}

.sec-space {
  padding-top: 39px;
  padding-bottom: 39px;
}
.pe-auto{
  cursor: pointer !important;
}
/* .checked_company_info{
  display: block !important;
} */
.checked_company_info span.badge{
  padding: .6rem;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.p-3{
  padding: 0.6rem !important;
}
a.badge{
  line-height: normal !important;
}
a.badge:hover{
  color: #fff !important;
}

.text-primary {
  color: var(--primary) !important;
}
.border-bottom{
  border-bottom: 1px solid #eee !important;
}
.border-end{
  border-right:  1px solid #eee;
}
.text-secondary {
  color: var(--secondary) !important;
}

.btn-primary:hover {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  transform: none !important;
}

.btn-primary {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  box-shadow: none !important;
}

div .authentication-wrapper{
  min-height:  100%;
}
div .authentic-login{
  min-height: 100vh;
}
div .bg-menu-theme .menu-inner>.menu-item.active>.menu-link{
  color: #fff;
}
/*--- Header ----*/

.header {
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.header-title {
  margin-bottom: 5px;
  text-align: center;
}

.header-title a span {
  color: var(--primary);
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.header-sub-title h4 {
  color: var(--text-color);
  font-weight: 600;
}

.top-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav a.nav-link {
  color: #fff;
}

.navbar-nav a.nav-link.active {
  color: #fff;
  background-color: transparent;
  border: transparent;
}

.navbar-nav a.nav-link:hover {
  color: #fff;
  background-color: transparent;
  border: transparent;
}

.navbar-toggler-icon {
  filter: brightness(5);
}

.navbar .navbar-toggler {
  padding: 10px;
  border: 1px solid #eee;
}

.navbar-expand-lg .navbar-nav {
  align-items: center;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu[data-bs-popper] {
  right: -14px !important;
  left: auto !important;
  top: 43px;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 25px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #fff;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}

.dropdown-item i {
  color: var(--light_purple);
}
.btn-danger:hover{
  transform: none !important;
}

/*--- Login Form ---*/
.subscribe-btn .nav-pills .fw-24 {
  color: var(--primary) !important;
  font-size: 24px;
  font-weight: 600;
}
.otp{
  display: none;
}
.otp-show{
  display: block;
}
.subscribe-btn .nav-pills .fw-24:hover {
  background-color: transparent !important;
  border: none !important;
  color: var(--primary) !important;
  pointer-events: none !important;
}

.nav-fill .nav-item {
  flex: none !important;
 
}

.nav-pills .nav-link:hover {
  color: #fff !important;
  background-color: var(--secondary) !important;
}

.subscribe-btn .nav-pills .nav-link.active {
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
}

.nav-link.active:hover {
  color: #fff !important;
}

.nav-link:hover {
  background-color: #fff;

}

.btn-account {
  border: 1px solid #fff;
}

.form-label {
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 16px;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--primary) !important;
}
.form-control::placeholder{
  color: var(--copy-color);
  font-size: 14px;
  text-transform: capitalize;
}
/*---- Company Details ---*/
.bs-stepper.vertical .bs-stepper-header {
  min-width: 20rem !important;
}

.tab-one {
  margin-bottom: 10px;
}

div.tab-header {
  background-color: var(--primary);
}

span.tab-title {
  color: #fff;
  font-size: 14px !important;
  line-height: 20px !important;
}

div.vertical-tab .tab-one.active .btn-tab span.tab-circle {
  box-shadow: none;
  background-color: var(--secondary);
}

.tab-one:hover {
  background-color: var(--secondary);
  border-radius: 0.375rem;
}

.btn-tab {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.tab-one:hover .btn-tab .tab-circle {
  background: transparent !important;
  color: #fff !important;
}

::placeholder {
  display: block !important;
}

.selectpicker.form-select {
  border: none !important;
}

.btn-success {
  background-color: var(--primary) !important;
  background-image: linear-gradient(#048543, #07a754) !important;
}

.light-style .authentication-wrapper.authentication-basic .authentication-inner:after {
  z-index: -1;
  background-image: none !important;
}

.light-style .authentication-wrapper.authentication-basic .authentication-inner::before {
  z-index: -1;
  background-image: none !important;
}

/*--- subscribe Form ---*/
.title {
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  color: var(--primary);
}

.sub-title {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  color: var(--primary);
}

.subscribe-box-wrapper {
  display: flex;
  flex-wrap: wrap;
}

div.subscribe-box {
  position: relative;
  height: 100vh;
  max-width: 100% !important;
}

.tab-content {
  width: 100%;
  padding: 0 !important;
}

.subscribe-btn {
  width: 100%;
}

.subscribe-box-wrapper {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.subscribe-form-border {
  border: 1px solid #eee;
  width: 100%;
  padding: 15px 2rem;
  border-radius: .375rem;
}

.subscribe-social {
  padding-top: 50px;
}

.subscribe-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);
  height: 100%;
  width: 50%;
  padding: 50px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.payment-card {
  border: 1px solid #eee;
  padding: 30px;
  border-radius: .375rem;
  margin: 20px auto;
  width: 200px;
  height: 100px;
  background-color: var(--primary);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.payment-check {
  background-color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #000;
  text-align: center;
  line-height: 10px;
  margin-bottom: 10px;
}

.signup-logo img {
  width: 250px;
}

.logo img {
  width: 180px;
}

.subscribe-content h2 {
  color: #fff;
  padding-top: 20px;
}

.subscribe-content p {
  font-size: 16px;
}

.copyright {
  position: absolute;
  bottom: 30px;
  text-align: center;
}

.subscribe-form {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 50%);
  height: 100%;
}

.subscribe-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 0 80px;
  height: 100%;
}

.subscribe-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 1.5rem 0;
}

.subscribe-social-icons a {
  border: 1px solid #eee;
  height: 40px;
  width: 40px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.company-user-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.user-detail {
  display: flex;
  flex-direction: column;
}

.user-detail p {
  font-weight: 500;
}

.btn-subscribe {
  padding: 8px 20px;
  border: 1px solid #eee;
  color: #fff;
  border-radius: 0.375rem;
  transition: all 0.3s ease-in-out;
}

.btn-subscribe:hover {
  background-color: #fff;
  color: #000;
}

.signup-form {
  text-align: center;
}

.signup-form h2 {
  color: #000;
}

.forgot-password {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.sign-in-footer {
  column-gap: 30px;
}

.terms {
  font-size: 14px;
}

.sign-in-footer div span {
  font-size: 14px;
}

/*---Header ----*/
.header {
  background-color: var(--primary);
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle:hover {
  background-color: transparent !important;
}

.img-placeholder {
  min-height: 500px !important;
}

/*--- Multiple Step Form ----*/

.card {
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
}

.card-body {
  padding: 0;
}

.multi-steps-form .form-step {
  padding-top: 30px;
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
  transform-origin: top;
  animation: animate 0.5s;
}
.preview-image{
  display: none;
}
/* Progress bar */

.progress-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
  counter-reset: step;
  background-color: #fff !important;
  margin-bottom: 30px;
  box-shadow: none !important;
  overflow: visible !important;
}

.progress-bar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
}

.progress {
  background-color: var(--primary);
  width: 0;
  transition: 0.5s;
}

.progress-step {
  width: 35px;
  height: 35px;
  background-color: var(--light_purple);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.2rem);
  left: 63%;
  transform: translateX(-50%);
  font-size: 0.85rem;
  color: #000 !important;
  z-index: 1;
}

.progress-step:last-child:after{

    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.2rem);
    left: 45%;
    transform: translateX(-50%);
    font-size: 0.85rem;
    color: #000 !important;
    z-index: 1;

}
.progress-step.active {
  background-color: var(--primary);
  color: #fff;
}

.progress-step.active::after {
  color: var(--primary) !important;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.form-navigation {
  display: flex;
  justify-content: space-between;
}

/*--- Footer ---*/
footer {
  background-color: var(--primary);
  position: sticky;
  height: 150px;
  top: 100%;
  width: 100%;
}

.footer {
  height: 50px;
}

.contact-list {
  list-style-type: none;
  color: #fff;
  padding-left: 0 !important;
  margin-bottom: 0;
}

.contact-list li a {
  color: #fff;
}

.contact-list li i {
  margin-right: 10px;
}

.sec-space-ft {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 200px;
}

.footer-copyright {
  background-color: var(--copy-color);
  position: sticky;
  height: 50px;
  top: 100%;
  width: 100%;
}

/*---- Company Dashboard ----*/
.custom_search_filter {
  position: relative;
}

.custom_search_filter_inputMask {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: var(--primary);
}
span.badge{
  line-height: normal;
}
/*--- Company Card ---*/
.card-border {
  border: 1px solid #2f34387d;
}
.dashboard-header{
  box-shadow: none;
  border: none;
  padding: 10px 0 !important;
}
.card-data {
  min-height: 100%;
  box-shadow: none;
}
.company-card .row .col-md-6:nth-child(odd) .card-data, .company-card .row .col-md-6:nth-child(even) .card-data ,.company-card .row .col-lg-4:nth-child(odd) .card-data, .company-card .row .col-lg-4:nth-child(even) .card-data{
  border:  4px solid #323c6c12;
}
.company-card .row .col-md-6:nth-child(odd) .card-data .company-title, .company-card .row .col-lg-4:nth-child(odd) .card-data .company-title{
  background-color: #FBEEE6;
  ;
}
.company-card .row .col-md-6:nth-child(even) .card-data .company-title,.company-card .row .col-lg-4:nth-child(even) .card-data .company-title{
background-color: #C7F6C7;
}
.company-card button[type="submit"].btn-primary{
  width: 340px;
}
.company-title {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-column-gap: 10px;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: var(--title-bg);
}

.company-card .row .col-lg-4:nth-child(odd) .card-border{
  border: 4px solid  #FBEEE6;
}
.company-card .row .col-lg-4:nth-child(even) .card-border{
  border: 4px solid #C7F6C7;
}
.company-title .check{
  border: none;
  opacity: 0;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 34px;
  top: 26px;
  cursor: pointer;

}
.company-title span{
  width: 30px;
  height: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--light_purple);
  border: 1px solid var(--light_purple);
}
.company-title span:hover{
  border: 1px solid var(--secondary);
}
.company-title span:hover i{
  color: var(--primary);
}
.card-border .company-title span:hover i{
  color: #fff;
}
.card-border .company-title i{
  color: #fff;
}
.card-border .company-title span{
  background-color: #38AB70;
  border: 1px solid #38AB70;
}
.check-icon{
  color: #ddd;
}
.company-title h4 a:hover{
 text-decoration: underline;
}
/* .check-icon{
  display: none;
} */

.information-list ul {
  display: grid;
}

.information-list li {
  font-weight: 500;
  display: inline-flex;
  align-items: flex-start;
}

.information-list li div:last-child a {
  color: #000 !important;
}

.information-list li:not(:last-child) {
  margin-bottom: 5px;
}

.information-list li>div:nth-child(1){
  display: flex;
  position: relative;
  margin-right: 5px;
  padding-right: 10px;
  font-size: 13px;
  white-space: nowrap;
  min-width: 85px;

}

.information-list li>div:nth-child(2) span {
  font-size: smaller;
}

.information-list li i {
  margin-right: 10px;
  color: var(--light_purple);
  transform: translateY(3px);
}

.information-list li>div:nth-child(1):after {
  content: ":";
  position: absolute;
  right: 0;
  top: 0;
}

.information-list li a {
  color: var(--primary);
  font-size: 13px;
}


/*----- Dropdown for Advance Filter ----*/

.custom_search_filter .category-dropdown .category-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 15px 20px;
  border-radius: 0.375rem;
  top: 50px;
  right: 0;
  z-index: 999;
}
.filter-tab{
  display: grid;
  grid-template-columns: 137px 28px;
  grid-gap: 10px;
  align-items: center;

}
.filter-tab span.badge{
  padding: auto;
}
.custom_search_filter .category-dropdown .category-dropdown-menu::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 16px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #fff;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}
.modal .modal-body ul.custom-tab li a{
  border: none;
  text-align: left;
  font-size: 14px;
  color: #000;
  border-bottom: 1px solid #eee;
  justify-content: start;
  white-space: nowrap;
}
.modal .modal-body ul.custom-tab li a.nav-link.active{
 color: #fff !important;
 
}
.modal .modal-body ul.custom-tab li a.nav-link:hover{

  background-color: var(--primary) !important;
}
/*-- Search Filter for Header ---*/
.tab-pane-header{
  display: grid;
  grid-template-columns:  1fr 250px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: #eee;
  padding: 5px 12px;
  border-radius: 5px;
}

.custom_search_filter .category-dropdown .category-dropdown ul li {
  padding: 5px;
  list-style: none;
}

.custom_search_filter .category-dropdown ul li:hover {
  background-color: var(--primary);
}

.custom_search_filter .category-dropdown ul li:hover a {
  color: #fff;
}

.text-justify {
  text-align: justify !important;
}

.modal-bod.nav-pills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}

.filter-content {
  border-top: 1px solid #eee;
  margin-top: 40px;
  border-radius: 0px;
}

.filter-content .tab-pane {
  padding-top: 30px;
}

.advance-filter .scroll-content {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
.custom-tab{
  height: 470px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
.pagination .page-item .page-link{
  border-radius: 50%;
}
.alphabet-filter{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding:  10px 5px;
  border: 1px solid #eee;
}

.alphabet-filter li a{
  background: transparent;
  padding: 0;
  color: #000;
  font-size: 14px;
  min-width: 14px;
  font-weight: 500;
}
.alphabet-filter li a:hover, .alphabet-filter li a.page-link.active{
  background: transparent !important;
  padding: 0;
  color: var(--primary);
  text-decoration: underline;
  
}
.filter-tab span.badge{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-action::-webkit-scrollbar-track, .scroll-content::-webkit-scrollbar-track, .custom-tab::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--bg-card);
}

.card-action::-webkit-scrollbar, .scroll-content::-webkit-scrollbar, .custom-tab::-webkit-scrollbar{
  width: 4px;
  background-color: #eee;
  border-radius: 7px;
  height: 4px;
}

.card-action::-webkit-scrollbar-thumb, .scroll-content::-webkit-scrollbar-thumb, .custom-tab::-webkit-scrollbar-thumb{
  background-color: var(--primary);
}

.modal-body .nav-pills li .nav-link {
  padding: 8px !important;
  transition: all ease 0.3s;
  box-shadow: none!important;
  border-radius: 0 !important;
  font-weight: 500;
}
.modal-body .nav-pills li .nav-link:hover {
 border-radius: 0.375rem!important;
}

.nav-pills .nav-link.active {
  background-color: var(--primary) !important;
 
}

.form-check-inline:last-child {
  margin-right: 0 !important;
}
.form-check-input {
  border: 1px solid #566a7f;
}
.form-check-label {
  text-align: left !important;
  font-size: small;
}

.form-check-flex {
  display: flex;
  column-gap: 10px;
}

.form-check-inline {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.form-check-inline input[type="checkbox"] {
  min-width: 20px;
}

.tab-active,.modal-body .nav-pills li .nav-link.active {
  background-color: var(--primary) !important;
  color: #fff !important;
  border-radius: .375rem !important;

}
.companies-table{
  overflow: hidden;
}
/*---- Modal ---*/
.modal.show .modal-dialog {
  transform: translateY(100px) scale(1) !important;
}

.modal-header {
  display: block !important;
}

.modal .btn-close {
  position: absolute !important;
  right: 24px !important;
  top: 25px !important;
  box-shadow: none !important;
}

/* Media query for mobile screens */
@media(max-width: 991px) {

  .subscribe-banner,
  .subscribe-form {
    width: 100%;
    position: relative;
  }
  
  .subscribe-box-wrapper {
    min-height: auto;
    position: inherit;
  }

  div .subscribe-box {
    height: 100%;
  }

  .copyright {
    position: inherit;
    bottom: 0;
    transform: none;
  }
  footer{
    height: 340px;
  }
  .footer-copyright{
    height: 78px;
  }
  .sec-space-ft{
    padding-top: 45px;
    padding-bottom: 45px;
    height: 390px;
  }

  .copyright p {
    margin-bottom: 0;
  }
  .companies-table{
    overflow: scroll;
  }
  .custom-tab, .advance-filter .scroll-content{
    height: 200px;
  }
  .checked_company_info{
    margin: auto;
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
  }
  .dropdown-menu[data-bs-popper] {
    right: -10px !important;
  }
  .tab-pane-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 12px;
  }
  .tab-pane-header .form-control {
    display: inline-block;
    width: 300px;
}
}

@media (max-width: 767px) {
  .title {
    font-size: 22px;
    line-height: 32px;
  }
  .subscribe-banner{
    min-height: fit-content;
    padding: 30px 10px;
  }
  .subscribe-form-wrapper {
    width: 100%;
  }
  .subscribe-form{
    margin: 10px;
  }
  .subscribe-box-wrapper {
    height: auto;
    position: inherit;
  }
  div .dropdown-menu-end[data-bs-popper] {
    left: 0 !important;
    top: 35px;
}

.company-card .pagination{
  display:  flex !important;
  justify-content: space-between !important;
}
  .copyright {
    display: none;
  }
  .pagination .page-item .page-link{
    border-radius: 10px;
  }
  .tab-content {
    width: 100%;
    padding: 0;
  }

  .subscribe-banner,
  .subscribe-form {
    width: 100%;

    position: relative;
  }

  div .subscribe-box {
    height: 100%;
  }
  .forgot-password {
    font-size: 12px;
  }
  .subscribe-form-wrapper {
    padding: 0;
    margin: auto;
  }

  .sign-in-footer {
    align-items: center;
    column-gap: 0;
  }

  .subscribe-banner {
    text-align: center;
    height: auto;
  }

  .subscribe-content h2 {
    font-size: 24px;
    padding-top: 10px;
  }

  .subscribe-content p {
    font-size: 14px;
  }

  .sign-in-footer div {
    margin-top: 10px;
  }

  .sign-in-footer div span {
    font-size: 12px;
  }

  .terms {
    font-size: 12px;
  }

  /*--- Dashboard ---*/
  .checked_company_info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  .tab-pane-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 12px;
  }
  .tab-pane-header .form-control{
    display: inline-block;
    width: 240px;
  }
  .modal-open{
    padding-right: 0 !important;
  }
  .contact-list li{
    padding-bottom: 10px;
  }
  .filter-tab{
    display: grid;
    grid-template-columns: 160px 28px;
    grid-gap: 10px;
    align-items: center;
  }
  
  footer{
    height: 340px;
  }
.footer-sec{
  height: 240px;
}
  /*--- Navbar ----*/
  .navbar-nav .nav-item.dropdown {
    display: none;
  }

  .navbar-expand-lg .navbar-nav {
    align-items: start;
  }

  .dropdown-menu {
    transform: translate(-260px, 13px) !important;
    width: fit-content;
  }

  /*--- Filter List ---*/
  .filter-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.select2-results__options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.light-style .select2-dropdown {
  z-index: 10001;
}
.filter-tab span.badge{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*---- Admin Panel Styles ---*/
.bg-menu-theme {
  background-color: var(--primary) !important;
}

.bg-menu-theme .menu-inner>.menu-item>.menu-link {
  color: #fff;
}

.bg-menu-theme .menu-inner>.menu-item.active>.menu-link {
  color: #696cff;
  background-color: rgba(105, 108, 255, .16) !important;
}

.dt-button {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: #fff;
  border-radius: .375rem;
 letter-spacing: 1px;
  padding: 5px 12px;
  font-size: 14px;
}
div .dt-buttons{
  text-align: left;
  margin-top: 15px;
}

.dataTable thead {
  background-color: var(--primary);
}

table.dataTable thead tr th:last-child {
  width: 130px !important;
}table.dataTable thead tr th:nth-child(3) {
  width: 200px !important;
}

.table:not(.table-dark) th {
  color: #fff !important;
}

.page-item.active .page-link {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 50%;
}

.page-item.active .page-link:hover {
  background-color: var(--secondary) !important;
  box-shadow: none;
}

.app-brand .layout-menu-toggle {
  background-color: var(--primary) !important;
}

.profile-approve .table thead {
  background-color: var(--primary);
}

#company-table_wrapper .dataTable tbody tr td:first-child {
  color: #696cff;
}

#company-table_wrapper .dataTable tbody tr:nth-child(odd) td:nth-child(2) {
  color: #1448ad;
}

#company-table_wrapper .dataTable tbody tr:nth-child(even) td:nth-child(3) {
  color: #2a2e3f;
}

#company-table_wrapper .dataTable tbody tr:nth-child(odd) td:nth-child(4) {
  color: #8DE45E;
}

#company-table_wrapper .dataTable tbody tr:nth-child(even) td:nth-child(4) {
  color: #FFAE08;
}

/*---- Profile Page ----*/
.inner-profile-card {
  min-height: 100%;
}
.profile-card{
  background-color: #eee;
  padding: 10px 15px;
  border-radius: 10px;
}
.inner-profile-card .card-body small {
  padding-bottom: 15px;
  
}

.profile-list li div:nth-child(2) span {
  font-size: small;
}

.profile-list li div:nth-child(1) {
  font-size: 15px;
  min-width: 105px;
}
.profile-list li:not(:last-child){
  margin-bottom: 10px !important;
}

.profile-list li div:last-child {
  width: fit-content !important;
}

.user-profile-header {
  margin-top: -2rem
}

.user-profile-img{
  height: 60px !important;
  padding: 10px 0;
}
div .breadcrumb-item.active
{
  color: var(--primary);
}
.light-style .user-profile-header .user-profile-img {
  border-color: #fff
}

.forgot-password-templates {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;

}
.card-action{
  height: 420px;
  overflow: hidden;
  overflow-y: auto;
}
div .timeline .timeline-item .timeline-event{
  min-height: 0;
  padding: 0.75rem 0 0 -34px;
}
div .timeline .timeline-item{
  padding-left: 2rem;
}
/*--- toast ---*/
.top-0 {
  top: 85px !important;
}
.subscribe .top-0{
  top: 25px
}

.toast.bs-toast {
  z-index: 9999 !important;
}

.btn-success {
  background-color: #068846 !important;
  border: 1px solid #068846 !important;
}

.btn-success:hover {
  transform: none !important;
}

.checked_company_download{
  display: none;
}

.company_download_btn_show{
  display: block;
}